div {
    margin-left: 2rem;
    margin-right: 2rem;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .rightIdr {
    justify-content: right;
  }